/* navbar */
.navbar_top {
    width: 100%;
    background: var(--main);
}

.navbar_top_main {
    width: 100%;
    z-index: 999;
}
.navbar_top_main img{
    width: 100%;
}

.navbar_main_img {
    width: 100%;
}

.navbar_main_img:hover {
    opacity: .8;
}

.navbar_main_img img {
    width: 100%;
}

.navbar {
    width: 100%;
    height: 60px;
    background: var(--white);
}

.navbar_main {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_main_left,
.navbar_main_right {
    display: flex;
    align-items: center;
}

.navbar_main_img {
    width: 130px;
}

.navbar_main_img img {
    width: 100%;
}

.navbar_main_left_links {
    display: flex;
    align-items: center;
    margin-left: 20px;
    column-gap: 15px;
}

.navbar_main_left_link,
.navbar_main_left_link_active {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--dark);
    position: relative;
    transition: .3s;
}

.navbar_main_left_link_active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--red);
    border-radius: 10px;
}

.navbar_main_left_link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 3px;
    background: var(--red);
    border-radius: 10px;
    transition: .5s
}

.navbar_main_left_link:hover::after {
    left: 0;
    width: 100%;
}

.navbar_main_left_link:hover .i {
    transition: .3s;
}

.navbar_main_left_link:hover .i {
    transform: rotate(-180deg);
}

.navbar_main_left_links_bar {
    display: flex;
    font-size: 20px;
    transition: .3s;
    color: var(--dark);
}

.navbar_main_left_links_bar:hover {
    transform: scale(1.2);
    color: var(--red);
}

.navbar_main_right_div {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navbar_main_right_div_btn {
    background: var(--red);
    padding:5px 15px;
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.navbar_main_right_div_btn:hover {
    box-shadow: var(--red) 0px 1px 10px;
}

.navbar_main_right_div_ring {
    font-size: 20px;
    margin-right: 15px;
    position: relative;
    color: var(--dark);
}

.navbar_main_right_div_ring::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -5px;
    width: 13px;
    height: 13px;
    background: var(--red);
    border-radius: 50%;
    animation: anime 1s infinite;
}

@keyframes anime {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar_main_right_search {
    font-size: 23px;
    border-right: 1px solid var(--gray);
    padding-right: 3px;
    cursor: pointer;
}

.navbar_main_right_search:hover {
    color: var(--red);
}

.navbar_main_right_light {
    width: 45px;
    height: 20px;
    margin-left: 10px;
    background: var(--gray1);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar_main_right_light_sun {
    width: 25px;
    height: 25px;
    background: var(--white);
    border-radius: 50%;
    margin-left: 1px;
    transform: translateX(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_main_right_light_sun_right {
    transform: translateX(20px);
    background: var(--red);
    color: var(--white);
}

.white {
    color: var(--white);
}
.white1 {
    background: var(--dark) !important;
}
.navbar_main_left_links_boxes {
    position: relative;
}

.navbar_main_left_links_box {
    position: absolute;
    width: 175px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: var(--white);
    transform: scale(0);
    transition: .3s;
    padding: 10px 0;
    border-radius: 5px;
    z-index: 10;
}

.navbar_main_left_links_boxes:hover .navbar_main_left_links_box {
    transform: scale(1);
}

.navbar_main_left_links_box_link {
    width: 100%;
    background: transparent;
    font-size: 13px;
    padding: 3px;
    color: var(--dark);
    padding-left: 10px;
    border-left: 3px solid transparent;
    position: relative;
}

.navbar_main_left_links_box_link:hover {
    border-left: 3px solid var(--red);
    background: var(--gray);
    color: var(--red) !important;
}

.navbar_main_left_links_box_link_span {
    background: var(--ink);
    margin-left: 5px;
    color: var(--white);
    padding: 3px 4px;
    font-size: 11px;
    border-radius: 2px;
}
.navbar_main_left_links_box_link_span1{
    background: var(--red);
    border-radius: 2px;
    margin-left: 5px;
    color: var(--white);
    padding: 3px 4px;
    font-size: 11px;
}
.navbar_main_left_links_box1{
    width: 1150px;
    position: absolute;
    left: -225px;
    transform: scale(0);
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: var(--white);
    z-index: 10;
}
.navbar_main_left_links_boxes:hover .navbar_main_left_links_box1{
    transform: scale(1);
}
.navbar_main_left_links_box1_div{
    width: 32%;
    position: relative;
}
.navbar_main_left_links_box1_div_p{
    font-size: 20px;
    font-weight: 800;
    color: var(--dark);
}
.navbar_main_left_links_box1_div_p:hover{
    color: var(--red);
    text-decoration: underline;
}
.navbar_main_left_links_box1_div_img{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
}
.navbar_main_left_links_box1_div_img img{
    width: 90%;
    border-radius: inherit;
}
.img{
    width: 90%;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: -1;
    border-radius: 5px;
    background: url(../../assets/navbar_img/img1.webp) rgba(0, 0, 0, .8);
    background-blend-mode: darken;
}
.navbar_main_left_links_box1_div_p1{
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 1px;
}
.navbar_main_left_links_box1_div_btn{
    position: absolute;
    right: 0;
    background: transparent;
    border: 1px solid var(--red);
    padding: 3px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;    
    color: var(--dark);
}
.navbar_main_left_links_box1_div_btn:hover{
    background: var(--red);
    color: var(--white);
}
.navbar_main_left_links_box1_div_p2{
    font-size: 17px;
    color: var(--main);
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gray);
    color: var(--dark);
}
.navbar_main_left_links_box1_div_p2_i{
    color: var(--red);
}
.navbar_main_left_links_box1_div1{
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar_main_left_links_box1_div1_p{
    font-weight: 600;
    color: var(--dark);
}
.navbar_main_left_links_box1_div1_p:hover{
    color: var(--red);
    text-decoration: underline;
}
.navbar_main_left_links_box1_div1_p1{
    font-size: 13px;
    margin-top: 5px;
}
.navbar_main_left_links_box1_div2{
    width: 80%;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--gray);
}
.navbar_main_left_links_box2{
    width: 1150px;
    position: absolute;
    left: -315px;
    transform: scale(0);
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    background: var(--white);
    z-index: 10;
}
.navbar_main_left_links_boxes:hover .navbar_main_left_links_box2{
    transform: scale(1);
}
.navbar_main_left_links_box2_navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.color,
.color1,
.color2,
.color3,
.color4{
    width: 20px;
    height: 10px;
    background: var(--red);
}
.color1{
    background: chocolate;
}
.color2{
    background: gold;
}
.color3{
    background: greenyellow;
}
.color4{
    background: green;
}
.navbar_main_left_links_box2_div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.navbar_main_left_links_box2_div1{
    width: 19%;
}
.navbar_main_left_links_box2_div1_img{
    width: 100%;
}
.navbar_main_left_links_box2_div1_img img{
    width: 100%;
}
.navbar_main_left_links_box2_div1_p{
    font-size: 15px;
    font-weight: 700;
    color: var(--dark);
}
.navbar_main_left_links_box2_div1_p1{
    font-size: 13px;
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: var(--dark);
}
.navbar_main_left_links_box2_div1_p1_img{
    width: 100px;
}
.navbar_main_left_links_box_link_i{
    position: absolute;
    right: 0;
}
.box_link_span1{
    background: var(--blue);
}
.navbar_main_left_links_boxes2{
    display: flex;
    position: relative;
}
.navbar_main_left_links_boxe{
    width: 170px;
    position: absolute;
    top: -10px;
    left: 100%;
    padding: 10px 0;
    background: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    display: none;
    transition: .3s;
    border-radius: 5px;
}
.navbar_main_left_links_boxes2:hover .navbar_main_left_links_boxe{
    display: flex;
}
.navbar_main_left_links_box2_navbar_p1{
    color: var(--dark);
}
.navbar_main_left_menu{
    display: none;
    font-size: 35px;
    cursor: pointer;
}
.navbar_active{
    position: absolute;
    top: 0;
    z-index: 10;
}
@media screen and (max-width: 1024px) {
    .navbar_main_left_links,
    .navbar_main_right_div{
        display: none;
    }
    .navbar{
        border-bottom: 1px solid var(--gray);
        padding: 5px 0;
        height: 50px;
    }
    .navbar_main {
        height: 40px;
    }
    .navbar_main_left_menu{
        display: flex;
    }
}